
<h1 class="login">Log Your Day</h1>

<div class="login">
	<form action="/day-logs" method="post">

		<label for="day">Day: </label>
		<input type="number" name="day">

		<label for="productiveHours">Productive hours: </label>
		<input type="number" name="productiveHours">

		<label for="lessProductiveHours">Less Productive hours: </label>
		<input type="number" name="lessProductiveHours">

		<label for="hoursOfSleep">Hours of Sleep: </label>
		<input type="number" name="hoursOfSleep">

		<label for="nutritionQuality">Quality of Nutrition: </label>
		<input type="number" name="nutritionQuality">

		<button type="submit">Add Log</button>
	</form>
</div>